/* raleway-800 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
    url("../fonts/raleway/raleway-800.woff") format("woff");
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik/rubik-400.woff") format("woff");
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
    url("../fonts/rubik/rubik-700.woff") format("woff");
}

/* rubik-800 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2"),
    url("../fonts/rubik/rubik-800.woff") format("woff");
}

/* GENERAL STYLES */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --black: #000000;
  --dark: #444444;
  --gray: #dcdcdc;
  --light-gray: #ebebeb;
  --light: #f0f0f0;
  --white: #ffffff;
  --yellow-light: #ffe17f;
  --yellow-dark: #ffc700;
  --purple: #af4fff;
  --red: #ff3d3d;
  --orange: #fd912e;
  --green: #08af00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--white);
  color: var(--dark);
}

.main {
  flex-grow: 1;
}

.button {
  position: relative;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  color: var(--black);
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
}
.button--tab:active {
  color: var(--yellow-light);
}

.button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--yellow-light);
  content: "";
}
.button:focus::before {
  background-color: var(--purple);
}
.button:hover::before {
  height: 100%;
  background-color: var(--yellow-light);
  transition: all 0.5s ease;
}

.button--tab::before,
.button--tab:hover::before,
.button--inner::before,
.button--inner:hover::before  {
  background-color: var(--yellow-dark);
}
.button--tab:active::before {
  width: 280px;
  background-color: var(--black);
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
  color: var(--black);
}


/* ------------------------------------------------------ */

/* USER-MENU */

.user-menu__list {
  padding: 0;
  list-style: none;
}

.user-menu__link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
}

/* SHOPPING-CART */

.shopping-cart {
  background-color: var(--black);
}

.shopping-cart__list,
.shopping-cart__menu-list {
  padding: 0;
  list-style: none;
}

.shopping-cart__item p,
.shopping-cart__menu-list li {
  font-size: 16px;
  line-height: 1.2;
  color: var(--white);
}

.shopping-cart__link {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: var(--black);
  background-color: var(--white);
  text-transform: uppercase;
}

/* MAIN-MENU */

.main-menu__list {
  padding: 0;
  list-style: none;
}

.main-menu__link {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black);
  text-transform: uppercase;
}

/* SUB-MENU */

.sub-menu__list {
  padding: 0;
  list-style: none;
}

.sub-menu__link {
  font-size: 16px;
  line-height: 1.1;
  color: var(--black);
}

/* PROMO-SLIDER */

.promo-slider {
  margin-bottom: 45px;
}

.promo-slider__wrapper {
  position: relative;
  overflow: hidden;
}

.promo-slider__list {
  display: flex;
  transition: all 0.3s ease;
}

.promo-slider__list,
.promo-slider__btns {
  padding: 0;
  list-style: none;
}

.promo-slider__btns {
  position: absolute;
  top: 372px;
  right: 62px;
  margin: 0;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-slider__btn {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.promo-slider__btn:focus {
  border: 2px solid var(--purple);
}
.promo-slider__btn:hover {
  border: 2px solid var(--black);
  opacity: 0.6;
}
.promo-slider__btn:active {
  border: 2px solid var(--black);
  opacity: 0.3;
}
.promo-slider__btn.promo-slider__btn--active {
  background-color: var(--black);
  border: 2px solid var(--black);
}

.promo-slider__arrow {
  position: absolute;
  top: 265px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.promo-slider__arrow:focus {
  outline: 2px solid var(--purple);
  border-radius: 6px;
}
.promo-slider__arrow:hover {
  outline: none;
  opacity: 0.6;
}
.promo-slider__arrow:active {
  opacity: 0.3;
}

.promo-slider__arrow--next {
  left: 515px;
}

/* SLIDE */

.slide {
  position: relative;
  max-width: 1160px;
  min-height: 560px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.slide::before {
  position: absolute;
  z-index: -1;
  width: 1160px;
  height: 150px;
  background-color: var(--yellow-light);
  content: "";
}

.slide::after {
  position: absolute;
  top: 90px;
  right: 50px;
  z-index: -1;
  font-weight: 800;
  font-size: 180px;
  line-height: 0.1;
  color: var(--white);
  content: "";
}

.slide--1::after {
  content: "01";
}
.slide--2::after {
  content: "02";
}
.slide--3::after {
  content: "03";
}

.slide__info {
  padding-top: 123px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.slide__info-title {
  margin-bottom: 30px;
  order: 0;
}

.slide__info-text {
  margin: 0;
  margin-bottom: 37px;
  order: 1;
}

.slide__list {
  order: 3;
  width: 330px;
  margin-top: 53px;
}

.slide--3 .slide__list {
  width: 500px;
}

.slide__list th {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 36px;
  line-height: 0.8;
}

.slide__list td {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
}

.slide__link {
  order: 2;
  width: 220px;
  padding: 15px 35px;
}

/* CATEGORIES */

.categories {
  margin-bottom: 70px;
}

.categories__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  list-style: none;
}

.categories__item {
  max-width: 160px;
  min-height: 253px;
}

.categories__link {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 193px;
  display: block;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
  outline: none;
}
.categories__link:focus {
  color: var(--purple);
}
.categories__link:hover {
  color: var(--black);
}
.categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories__link::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 160px;
  background-color: var(--yellow-light);
  content: "";
}
.categories__link:focus::before {
  outline: 5px solid var(--purple);
}
.categories__link:hover::before {
  background-color: var(--yellow-dark);
  outline: none;
}

.categories__link::after {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-repeat: no-repeat;
  content: "";
}
.categories__link:active::after {
  opacity: 0.3;
}

.categories__link--1::after {
  width: 97px;
  height: 55px;
  background-image: url(../img/svg/category-1.svg);
}
.categories__link--2::after {
  width: 86px;
  height: 117px;
  background-image: url(../img/svg/category-2.svg);
}
.categories__link--3::after {
  width: 71px;
  height: 87px;
  background-image: url(../img/svg/category-3.svg);
}
.categories__link--4::after {
  width: 107px;
  height: 65px;
  background-image: url(../img/svg/category-4.svg);
}
.categories__link--5::after {
  width: 56px;
  height: 98px;
  background-image: url(../img/svg/category-5.svg);
}
.categories__link--6::after {
  width: 132px;
  height: 69px;
  background-image: url(../img/svg/category-6.svg);
}

/* TABS */

.tabs__triggers,
.tabs__content {
  padding: 0;
  list-style: none;
}

.tabs__link {
  width: 160px;
  padding: 15px 17px;
  display: block;
}

/* DELIVERY-BONUS */

.delivery-bonus__link {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  color: var(--black);
  text-transform: uppercase;
}

/* ABOUT-US */

.about-us__transport-list {
  padding: 0;
  list-style: none;
}

.about-us__transport-list li {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  color: var(--black);
}

.about-us__link {
  width: 260px;
  padding: 15px 17px;
}

/* CONTACTS */

.contacts__address h3,
.contacts__work-in-hours h3 {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--black);
}

.contacts__address p {
  font-style: normal;
}

.contacts__address a {
  font-style: normal;
  color: var(--dark);
  text-decoration: underline;
}

.contacts__link {
  width: 260px;
  padding: 15px 33px;
}

/* SUBSCRIPTION */

.subscription {
  background-color: var(--light);
}

.subscription__wrapper {
  padding: 75px 0 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription__title {
  max-width: 560px;
  margin-right: 30px;
}

.subscription__text {
  max-width: 560px;
  margin: 0;
  padding: 12px 33px 0 0;
}

.subscription__form {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.subscription__form input,
.subscription__form button {
  background-color: transparent;
}

.subscription__form input {
  width: 600px;
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.subscription__form input:focus {
  background-color: var(--gray);
  border-bottom: 3px solid var(--gray);
}
.subscription__form input:hover {
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription__form input::placeholder {
  font-size: 18px;
  line-height: 1.6;
}

.subscription__form button {
  padding: 15px 40px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.subscription__form button:focus {
  border: 3px solid var(--purple);
}
.subscription__form button:hover {
  color: var(--white);
  background-color: var(--black);
}
.subscription__form button:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid var(--black);
}

.subscription__note {
  max-width: 170px;
  margin: 0;
  padding: 13px 0 13px 35px;
  align-self: flex-end;
  background-image: url("../img/svg/tick-subscrib.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* FOOTER */

.footer {
  min-height: 321px;
  background-color: var(--dark);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 150px;
  margin: 60px 0 25px 0;
}

.footer__logo svg {
  fill: var(--yellow-dark);
}

.footer__info {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}

.footer__info address {
  order: 0;
  width: 240px;
  margin-right: 114px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: var(--white);
}

.footer__info-tel {
  order: 2;
  margin-left: auto;
  padding: 0 10px;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white);
  outline: none;
}
.footer__info-tel:focus {
  outline: 2px solid var(--purple);
  border-radius: 25px;
}
.footer__info-tel:hover {
  color: var(--yellow-dark);
  outline: none;
}
.footer__info-tel:active {
  opacity: 0.3;
}

.footer__info-list {
  order: 1;
  max-width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer__info-item {
  margin-right: 7px;
}

.footer__info-link {
  padding: 10px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
  outline: none;
}
.footer__info-link:focus {
  outline: 2px solid var(--purple);
  border-radius: 25px;
}
.footer__info-link:hover {
  color: var(--yellow-dark);
  border-bottom: 2px solid var(--yellow-dark);
  border-radius: 0;
  outline: none;
}
.footer__info-link:active {
  opacity: 0.3;
}

.footer__links {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__links::before {
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--yellow-dark);
  content: "";
}

.footer__links-author {
  margin-left: 360px;
  padding: 10px 10px 0;
  outline: none;
}
.footer__links-author:focus {
  outline: 2px solid var(--purple);
  border-radius: 10px;
}
.footer__links-author:hover {
  outline: none;
}

.footer__links-author svg {
  fill: var(--yellow-dark);
}
.footer__links-author:hover svg {
  fill: var(--white);
}
.footer__links-author:active svg {
  opacity: 0.3;
}

/* SOCIAL */

.social {
  max-width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__item {
  margin: 8px;
}

.social__link {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  outline: none;
}

.social__link svg {
  position: absolute;
  top: 30%;
  left: 33%;
  fill: var(--dark);
}

.social__link:focus {
  background-color: transparent;
  outline: 5px solid var(--purple);
}
.social__link:focus svg {
  fill: var(--white);
}
.social__link:hover {
  background-color: var(--yellow-dark);
  outline: none;
}
.social__link:hover svg {
  fill: var(--dark);
}
.social__link:active svg {
  fill: var(--dark);
  opacity: 0.3;
}

/* ------------------------------------------------------------ */


/* BREADCRUMBS */

.breadcrumbs {
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
  opacity: 0.6;
  outline: none;
}
.breadcrumbs__link:focus {
  opacity: 1;
  outline: 5px solid var(--purple);
}
.breadcrumbs__link:hover {
  opacity: 1;
  outline: none;
}
.breadcrumbs__link:active {
  opacity: 0.3;
}


/* FILTER */

.filter__title {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  color: var(--black);
  text-transform: uppercase;
}

.filter__field-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--black);
}

.filter__field-list {
  padding: 0;
  list-style: none;
}

.filter__field-label {
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
  cursor: pointer;
}

.filter__button {
  width: 200px;
  padding: 15px 37px;
  border: none;
  cursor: pointer;
}

/* SORT */

.sort__title {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  color: var(--black);
  text-transform: uppercase;
}

.sort__list {
  border: 0;
}

.sort__list option {
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
}

/* CARDS */

.cards__list {
  padding: 0;
  list-style: none;
}

.cards__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black);
}

.cards__item-info span {
  line-height: 1.1;
}

.cards__link {
  width: 180px;
  padding: 15px 17px;
}

.cards__load,
.paginator__link {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.2em;
  color: var(--black);
  text-transform: uppercase;
}

/* PAGINATOR */

.paginator__list {
  padding: 0;
  list-style: none;
}

.paginator__num {
  font-size: 16px;
  line-height: 1.2;
  opacity: 0.3;
}
